table {
border-collapse: collapse;
width: 750px;
}

th, td {
border: 1px solid #333;
padding: 10px;
text-align: center;
}

th {
background-color: #000000;
color : white;
}

.bargain > .price::before {
    content: "할인가 ";
    color : red;
}

.bargain {
    font-weight: bold;
}


.soldout > .product::after {
    content: " 품절";
    color : red;
    font-size: 10px;
}

.soldout {
    color : #dddddd;
}